/* SPDX-License-Identifier: Apache-2.0 */
/* FRDM-K64F Board Overlay for ECU Prototype */

/* Enable FlexCAN0 */
&flexcan0 {
    status = "okay";
    bus-speed = <500000>;
    sjw = <1>;
    sample-point = <875>;
};

/* Enable UART3 for LIN */
&uart3 {
    status = "okay";
    current-speed = <19200>;
};

/* Flash partition for NVS storage */
&flash0 {
    partitions {
        compatible = "fixed-partitions";
        #address-cells = <1>;
        #size-cells = <1>;

        /* Reserve 16KB at the end of flash for storage */
        storage_partition: partition@fc000 {
            label = "storage";
            reg = <0x000fc000 0x00004000>;
        };
    };
};
